.App {
  margin: 0;
  padding: 20px 10% 0 10%!important;
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  padding: 20px;
  transition: all .5s;
  min-height: 100vh;
}
.ThemeBtn{
  color: var(--text-primary);
  background-color: var(--background);
  border: 1px var(--text-primary) solid;
  float: right;
  padding: 5px;
  border-radius: 20px;
  transition: all 1s;
}
