
:root {
  --background: #f6f6f6;
  --background-secondary: white;
  --text-primary: black;
  --text-primary-light: #333333;
  --text-secondary: darkmagenta;
  --text-contrast: darkorange;
  --accent: cyan;
  --hover: lightgray;
  --background-img: url(img/COD3.png);
}
[data-theme="dark"] {
  --background: #111111;
  --background-secondary: #222222;
  --text-primary: white;
  --text-primary-light: #bbbbbb;
  --text-secondary: orangered;
  --text-contrast: purple;
  --accent: red;
  --hover: gray;
  --background-img: url(img/COD2.png);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
